.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 500ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 500ms ease-in-out forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 28px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  font-family: "Libre Baskerville", serif;
  cursor: pointer;
}

.noscroll {
  overflow: hidden;
  max-height: 100vh;
}

.pad-20 {
  padding: 20px;
}

@media (max-width: 47.9375em) {
  .full-width-on-mobile {
    width: 100%;
  }
}

@media (max-width: 47.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 48em) {
  .hide-for-desktop {
    display: none;
  }
}

.white {
  color: white;
}

@media (min-width: 48em) {
  .block-at-tablet {
    display: block;
  }
}

.container {
  margin: 0 auto;
  max-width: 90rem;
}
.container--pall {
  padding: 1.5rem;
}
@media (min-width: 48em) {
  .container--pall {
    padding: 2.5rem;
  }
}
.container--py {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 48em) {
  .container--py {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media (min-width: 48em) {
  .container--px {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
.container--pt {
  padding-top: 1.5rem;
}
@media (min-width: 48em) {
  .container--pt {
    padding-top: 2.5rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 1.5rem;
}
.container--pl {
  padding-left: 1.5rem;
}
@media (min-width: 48em) {
  .container--pl {
    padding-left: 2.5rem;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-half {
  flex-basis: 50%;
}
@media (min-width: 64em) {
  .flex--lg {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 64em) {
  .flex-half--lg {
    flex-basis: calc(50% - 2rem);
  }
}

.grid--2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--4x4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.heading-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0.5rem;
}

.subhead-1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.subhead-2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}

.link-2 {
  color: #7d7d7d;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
}

.display-font {
  font-size: 6.25rem;
  line-height: 6.25rem;
}
@media (min-width: 48em) {
  .display-font {
    font-size: 200px;
    line-height: 150px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.header .logo {
  height: 32px;
  width: 113px;
}
@media (min-width: 64em) {
  .header .logo {
    height: 48px;
    width: 170px;
  }
}
.header .slideshow-toggle {
  font-size: 9px;
  letter-spacing: 2px;
  line-height: 11px;
  font-weight: bold;
  color: #7d7d7d;
  text-transform: uppercase;
  transition: color 150ms ease-in;
}
@media (min-width: 48em) {
  .header .slideshow-toggle {
    font-size: 12px;
    letter-spacing: 2.5px;
    line-height: 15px;
  }
}
.header .slideshow-toggle:hover {
  color: black;
  cursor: pointer;
}

.masonry-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 48em) {
  .masonry-container {
    flex-wrap: wrap;
    height: 2903px;
    padding: 0 1.25rem 2.5rem 1.25rem;
  }
  .masonry-container > div.thumbnail {
    width: 327px;
    margin: 2.5rem 1.25rem 0 1.25rem;
  }
}
@media (min-width: 88.75em) {
  .masonry-container {
    height: 1478px;
  }
  .masonry-container > div.thumbnail {
    margin: 2.5rem 1.25rem 0 1.25rem;
    width: 310px;
  }
}

.thumbnail {
  position: relative;
  display: inline-block;
  color: white;
  transition: opacity 150ms ease-in;
  vertical-align: middle;
}
.thumbnail:hover {
  cursor: pointer;
  opacity: 0.5;
}
.thumbnail:not(:last-child) {
  margin-bottom: 1.5rem;
}
.thumbnail__text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  max-width: 75%;
}
.thumbnail__mask {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 170px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

.modal {
  display: none;
}
.modal.open {
  display: block;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  place-items: center;
}
.modal.open .modal__content {
  position: absolute;
}
.modal.open .modal__content__close {
  position: absolute;
  top: -2rem;
  right: 1.5rem;
  background: transparent;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.modal.open .modal__content__img {
  padding: 1.5rem;
}

.slideshow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 1rem 1.5rem;
  border-top: 1px solid #e5e5e5;
}
.slideshow__name {
  display: flex;
  flex-direction: column;
  gap: 9px;
  line-height: normal;
  font-weight: 700;
}
.slideshow__name__author {
  font-size: 10px;
  font-weight: 400;
}
@media (min-width: 48em) {
  .slideshow__name {
    font-size: 18px;
    line-height: 22px;
  }
  .slideshow__name__author {
    font-size: 13px;
    line-height: 17px;
  }
}
.slideshow__controls {
  display: flex;
  gap: 1.5rem;
}
@media (min-width: 64em) {
  .slideshow {
    height: 96px;
  }
}

.detail p {
  font-weight: 700;
}
.detail .art {
  position: relative;
}
@media (min-width: 48em) {
  .detail .art {
    margin-bottom: 4rem;
  }
  .detail .art img {
    max-width: 69.1%;
  }
}
.detail .art__view-image {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 152px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 2.14px;
  font-weight: 700;
  transition: background-color 150ms ease-in;
}
.detail .art__view-image:hover {
  background-color: rgba(59, 59, 59, 0.75);
}
@media (min-width: 48em) {
  .detail .art__view-image {
    top: auto;
    bottom: 1rem;
    left: 1rem;
  }
}
.detail .art__text {
  position: relative;
  bottom: 50px;
  background-color: white;
  width: 280px;
  height: 104px;
  padding: 1.5rem;
}
@media (min-width: 48em) {
  .detail .art__text {
    position: absolute;
    top: -0.0625rem;
    right: 0;
    height: 238px;
    width: 445px;
    padding: 0 4rem 4rem 4rem;
  }
  .detail .art__text .heading-2 {
    font-size: 56px;
    line-height: 64px;
  }
}
.detail .art__text .heading-2 {
  color: black;
}
.detail .art__text__artist {
  height: 4rem;
  width: 4rem;
  position: absolute;
  bottom: -0.75rem;
  left: 1rem;
}
@media (min-width: 48em) {
  .detail .art__text__artist {
    height: 8rem;
    width: 8rem;
    bottom: auto;
    left: auto;
    right: 55px;
    top: 238px;
  }
}
.detail .description {
  position: relative;
  padding-top: 4.25rem;
}
.detail .description > * {
  margin-bottom: 4.25rem;
}
.detail .description .year {
  position: absolute;
  top: -0.5rem;
  right: 0;
  z-index: -1;
  color: #f3f3f3;
}
@media (min-width: 48em) {
  .detail .description {
    max-width: 83%;
    padding: 75px 0 12px 105px;
  }
  .detail .description > * {
    margin-bottom: 2.25rem;
  }
  .detail .description .year {
    right: auto;
    top: 0;
    left: 0;
    letter-spacing: -4px;
  }
}
@media (min-width: 88.75em) {
  .detail {
    display: flex;
    margin-bottom: 35px;
    margin-top: 60px;
  }
  .detail .art {
    flex-basis: 62%;
  }
  .detail .art img {
    max-width: 475px;
  }
  .detail .art .heading-2 {
    margin-bottom: 1.5rem;
  }
  .detail .description {
    flex-basis: 38%;
    padding: 116px 126px 0 28px;
  }
  .detail .description > * {
    margin-bottom: 5rem;
  }
  .detail .description .year {
    top: 0;
    right: auto;
    left: auto;
    letter-spacing: normal;
  }
  .detail .art__text__artist {
    bottom: -65px;
    left: 505px;
    right: auto;
    top: auto;
  }
}

/*# sourceMappingURL=style.css.map */
