.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 500ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 500ms ease-in-out forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  color: #7d7d7d;
  font-size: 14px;
  line-height: 28px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

.noscroll {
  overflow: hidden;
}

.pad-20 {
  padding: 20px;
}

@media (max-width: 47.9375em) {
  .full-width-on-mobile {
    width: 100%;
  }
}

@media (max-width: 47.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 48em) {
  .hide-for-desktop {
    display: none;
  }
}

.white {
  color: white;
}

@media (min-width: 48em) {
  .block-at-tablet {
    display: block;
  }
}

.heading-2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
}
.container--pall {
  padding: 1.5rem;
}
@media (min-width: 48em) {
  .container--pall {
    padding: 2.5rem;
  }
}
.container--py {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 48em) {
  .container--py {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media (min-width: 48em) {
  .container--px {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
.container--pt {
  padding-top: 1.5rem;
}
@media (min-width: 48em) {
  .container--pt {
    padding-top: 2.5rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 1.5rem;
}
.container--pl {
  padding-left: 1.5rem;
}
@media (min-width: 48em) {
  .container--pl {
    padding-left: 2.5rem;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-half {
  flex-basis: 50%;
}
@media (min-width: 64em) {
  .flex--lg {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 64em) {
  .flex-half--lg {
    flex-basis: calc(50% - 2rem);
  }
}

.grid--2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid--4x4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.header .logo {
  height: 32px;
  width: 113px;
}
.header .slideshow-toggle {
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 1.93px;
  color: #7d7d7d;
  text-transform: uppercase;
  transition: color 150ms ease-in;
}
.header .slideshow-toggle:hover {
  color: black;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
