.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    padding: 1rem 1.5rem;
    border-top: 1px solid #e5e5e5;
    position: relative;
    &__name {
        display: flex;
        flex-direction: column;
        gap: 9px;
        line-height: normal;
        font-weight: 700;
        &__author {
            font-size: 10px;
            font-weight: 400;
        }
        @include breakpoint-up(medium) {
            font-size: $font-heading-3;
            line-height: $line-height-heading-3;
            &__author {
                font-size: $font-subhead-2;
                line-height: $line-height-subhead-2;
            }
        }
    }
    &__controls {
        display: flex;
        gap: 1.5rem;
        > * {
            cursor: pointer;
        }
    }
    @include breakpoint-up(large) {
        height: 96px;
    }

    // progress bar
    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: black;
        animation: progressbar-countdown;
        /* Placeholder, this will be updated using javascript */
        animation-duration: 60s;
        /* We stop in the end */
        animation-iteration-count: 1;
        /* Stay on pause when the animation is finished finished */
        animation-fill-mode: forwards;
        /* We start paused, we start the animation using javascript */
        // animation-play-state: paused;
        /* We want a linear animation, ease-out is standard */
        animation-timing-function: linear;
    }
}
