.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    padding: 1rem 1.5rem;
    border-top: 1px solid #e5e5e5;
    &__name {
        display: flex;
        flex-direction: column;
        gap: 9px;
        line-height: normal;
        font-weight: 700;
        &__author {
            font-size: 10px;
            font-weight: 400;
        }
        @include breakpoint-up(medium) {
            font-size: $font-heading-3;
            line-height: $line-height-heading-3;
            &__author {
                font-size: $font-subhead-2;
                line-height: $line-height-subhead-2;
            }
        }
    }
    &__controls {
        display: flex;
        gap: 1.5rem;
    }
    @include breakpoint-up(large) {
        height: 96px;
    }
}
