.thumbnail {
    position: relative;
    display: inline-block;
    color: $white;
    transition: opacity 150ms ease-in;
    vertical-align: middle;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
    &:not(:last-child) {
        margin-bottom: 1.5rem;
        @include breakpoint-up(medium){
            margin-bottom: 2.5rem;
        }
    }

    &__text {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        max-width: 75%;
    }

    &__mask {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 170px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    }
}
