.thumbnail {
    position: relative;
    display: inline-block;
    color: $white;
    margin-bottom: 1.5rem;
    transition: opacity 150ms ease-in;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    &__img-wrapper img {
        display: block;
    }

    &__text {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        max-width: 75%;
    }

    &__mask {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 170px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    }
}
