.detail {
    p {
        font-weight: 700;
    }
    // Start art section
    .art {
        position: relative;
        @include breakpoint-up(medium) {
            margin-bottom: 4rem;
            img {
                max-width: 69.1%;
            }
        }

        &__view-image {
            position: absolute;
            top: 1rem;
            left: 1rem;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            width: 152px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.75);
            color: $white;

            text-transform: uppercase;
            font-size: 0.625rem;
            letter-spacing: 2.14px;
            font-weight: 700;
            transition: background-color 150ms ease-in;

            &:hover {
                background-color: rgba(59, 59, 59, 0.75);
            }

            @include breakpoint-up(medium) {
                top: auto;
                bottom: 1rem;
                left: 1rem;
            }
        }

        &__text {
            // position: absolute;
            position: relative;
            bottom: 50px;

            background-color: $white;
            width: 280px;
            height: 104px;
            padding: 1.5rem;

            @include breakpoint-up(medium) {
                position: absolute;
                top: -0.0625rem;
                right: 0;

                height: 238px;
                width: 445px;

                padding: 0 4rem 4rem 4rem;

                .heading-2 {
                    font-size: $font-heading-1;
                    line-height: $line-height-heading-1;
                }
            }

            .heading-2 {
                color: $black;
            }

            &__artist {
                height: 4rem;
                width: 4rem;
                position: absolute;
                bottom: -0.75rem;
                left: 1rem;

                @include breakpoint-up(medium) {
                    height: 8rem;
                    width: 8rem;
                    bottom: auto;
                    left: auto;
                    right: 55px;
                    top: 238px;
                }
            }
        }
    }
    // End Art section

    // Start description section
    .description {
        position: relative;
        padding-top: 4.25rem;
        > * {
            margin-bottom: 4.25rem;
        }

        .year {
            position: absolute;
            top: -0.5rem;
            right: 0;
            z-index: -1;
            color: $very-light-gray;
        }

        @include breakpoint-up(medium) {
            max-width: 83%;
            padding: 75px 0 12px 105px;
            > * {
                margin-bottom: 2.25rem;
            }

            .year {
                right: auto;
                top: 0;
                left: 0;
                letter-spacing: -4px;
            }
        }
    }
    // End description section

    @include breakpoint-up(xxlarge) {
        display: flex;
        margin-bottom: 35px;
        margin-top: 60px;
        .art {
            flex-basis: 62%;
            img {
                max-width: 475px;
            }
            .heading-2 {
                margin-bottom: 1.5rem;
            }
        }
        .description {
            flex-basis: 38%;
            padding: 116px 126px 0 28px;
            > * {
                margin-bottom: 5rem;
            }

            .year {
                top: 0;
                right: auto;
                left: auto;
                letter-spacing: normal;
            }
        }
        .art__text__artist {
            bottom: -65px;
            left: 505px;
            right: auto;
            top: auto;
        }
    }
}
