.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;

    .logo {
        height: 32px;
        width: 113px;

        @include breakpoint-up(large) {
            height: 48px;
            width: 170px;
        }
    }
    .slideshow-toggle {
        font-size: $font-link-2;
        letter-spacing: $letter-spacing-link-2;
        line-height: $line-height-link-2;
        font-weight: bold;
        color: #7d7d7d;
        text-transform: uppercase;
        transition: color 150ms ease-in;

        @include breakpoint-up(medium) {
            font-size: $font-link-1;
            letter-spacing: $letter-spacing-link-1;
            line-height: $line-height-link-1;
        }

        &:hover {
            color: $black;
            cursor: pointer;
        }
    }
}
