// Colors
$black: rgb(0, 0, 0);
$gray: rgb(8, 8, 8);
$light-gray: rgb(229, 299, 299);
$very-light-gray: rgb(243, 243, 243);
$white: rgb(255, 255, 255);

// Typography
$font-sm: 0.75rem; // 12px
$font-med: 0.9375rem; // 15px
$font-reg: 1rem;
$font-xreg: 1.125rem; // 18px
// $font-lg: 1.5rem; // 24px
$font-lg: 2.5rem; // 40px
// $font-xlg: 3.125rem; // 50px
$font-xlg: 3.5rem; // 56px
$font-jumbo: 5rem; // 80px
// $font-jumbo: calc(min(10vw + 0.625rem, 7.5rem));

// Font Families
$serif: 'Libre Baskerville', serif;
// $public: "Public Sans", sans-serif;

// Container Padding
$mobile: 1.5rem; //24
$tablet: 2.5rem; //40
$desktop: 10.3125rem; //165
